.content {
  width: 900px;
  border: 1px solid #ddd;
  margin: 100px auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}
.item {
  background-color: #e4e4e4;
  font-size: 22px;
  color: black;
  margin: auto;
  padding: 20px;
}
